body {
  background-image: url("red-and-white.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family:'Times New Roman', Times, serif ;
}
#college{
  color:#ffffff;
  font-size: 230%;
  font-weight: bold;
  text-align:center;
  position: fixed; 
  top: 0;
  padding: 10px 10px;
}
#address {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  text-align:center;
  position: fixed; 
  top: 75px;
  padding: 10px 10px;
}
.container1{
position:absolute;
background-color:#ffffff;
height:448px;
width:448px;
border-radius:10px;
right: 65%;
margin-right: -224px;
box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.6);
}
.container1 img {
  height: 260px;
  width: 448px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-type {
  position: relative;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  position: absolute;
  left: 45%;
  transform: translateX(-50%);
  margin: 0 20px;

}

.tabs * {
  z-index: 2;
}

.login-type input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.login-type input[type="radio"]:checked + label {
  color: #ffffff;
}

.login-type input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.login-type input[id="radio-2"]:checked ~ .glider {
  transform: translateX(110%);
}

.glider {
  position: absolute;
  display: flex;
  height: 40px;
  width: 90px;
  background-color: #923434;
  z-index: 1;
  border-radius: 50px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
 
  .tabs {
    transform: scale(0.6);
  }
}
.container2{
  position:absolute;
  background-color:#A01717;
  height:448px;
  width:448px;
  border-radius:10px;
  right: 35%;
  margin-right: -224px;
  box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.6);
  }
  #sign-up{
    text-align: center;
    color: beige;
    font-size: 170%;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    justify-content: center;
  }
  
  .title {
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    align-items: center;
    justify-content: center;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 7px;
    background-color: rgb(255, 255, 255);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #c99090;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 20px 10px 10px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: rgb(0, 0, 0);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 5px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: 1px solid white;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 120px;
  }
  
  .submit:hover{
    background-color: rgb(75, 75, 75);
  }

  .hide {
    display: none!important;
}

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
