.container{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin-top: 10px ;
    border-bottom: #000000;
    box-shadow: 20px 10px 51px -24px rgba(0,0,0,1);
    border-radius: 5px;
  }
  
 .form {
     color: rgb(0, 0, 0);
     font-size: 20px;
     margin-left: 20px;
     font-family: 'Times New Roman', Times, serif;
     align-items: left;
     position: relative;
   }
  
   #edate,#pdate,#no-of-days,#staff,#designation,#bname,#bank,#branch,#IFSC,#acno,#ext_name,#ext_clg,#phno,#travellingallowance,#travellingallowanceperday,#noofdays,#amount,#total, #exam, #teacher, #division, #batch, #particulars, #max-marks,#noofstudents,#rsperstudent,#date, #name, #subject, #semester,#scheme {
     width: 30%;
     height: 30%;
     position:relative;
     margin-bottom: 20px;
     padding: 5px;
     border-radius: 3px;
     border: 2px solid #727171;
     font-size: 12px;
   }

   #resadd,#profadd{
    width: 100%;
     height: 40%;
     position:relative;
     margin-bottom: 20px;
     padding: 5px;
     border-radius: 3px;
     border: 2px solid #727171;
     font-size: 12px;
   }

   #bname:focus,#bank:focus,#branch:focus,#IFSC:focus,#acno:focus,#ext_name:focus,#ext_clg:focus,#phno:focus,#resadd:focus,#profadd:focus,#exam:focus, #teacher:focus,#division:focus, #batch:focus, #scheme:focus, #semester:focus, #particulars:focus, #max-marks:focus, #noofstudents:focus, #rsperstudent:focus, #date:focus,#name:focus, #subject:focus {
     outline: none;
     border: 3px solid #000000;
   }
  
   #submit{
    padding: 15px 40px;
    background: #000;
    border:0;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 15px;
    letter-spacing: 3px;
    position: relative;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: flex;
    margin: 0px auto;
    margin-bottom: 0.05px;
  }
  
  #submit::after,
  #submit::before{
    content: "";
    position: flex;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
      opacity: 0;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #submit::after{
      width: 30px;
      height: 1px;
      background: white;
      transform: translateX(-3px);
      margin: 0 auto;
  }
  
  #submit::before{
      content: "";
      transform: rotate(-135deg) translateX(50%);
      width: 11px;
      height: 11px;
      background: transparent;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
    margin-top: -1px;
  }
  
  #submit:hover{
    padding: 15px 60px 15px 20px;
  }
  
  #submit:hover::after,
  #submit:hover::before{
    opacity: 1;
    right: 15px;
  }

   p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: beige;
   }

   .input{
    width: 40px;
    text-align: center;
    height:30px;
    font-size: 16px;
   }

   .acc_no{
    width: 30px;
    text-align: center;
    height:30px;
    font-size: 16px;
   }