.container{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin-top: 10px ;
    border-bottom: #000000;
    box-shadow: 20px 10px 51px -24px rgba(0,0,0,1);
    border-radius: 5px;
  }
  
 .form {
     color: rgb(0, 0, 0);
     font-size: 20px;
     margin-left: 20px;
     font-family: 'Times New Roman', Times, serif;
     align-items: left;
     position: relative;
   }
  
   #department,#rsperday,#rperduty,#noofduties,#email,#number-of-papers,#edate,#pdate,#no-of-days,#staff,#designation,#bname,#bank,#branch,#IFSC,#acno,#ext_name,#ext_clg,#phno,#travellingallowance,#travellingallowanceperday,#noofdays,#amount,#total, #exam, #teacher, #division, #batch, #particulars, #max-marks,#noofstudents,#rsperstudent,#date, #name, #subject, #semester,#scheme {
     width: 30%;
     height: 30%;
     position:relative;
     margin-bottom: 20px;
     padding: 5px;
     border-radius: 3px;
     border: 2px solid #727171;
     font-size: 12px;
   }

   #resadd,#profadd{
    width: 100%;
     height: 40%;
     position:relative;
     margin-bottom: 20px;
     padding: 5px;
     border-radius: 3px;
     border: 2px solid #727171;
     font-size: 12px;
   }

   #department:focus,#rsperday:focus,#rperduty:focus,#noofduties:focus,#email:focus,#number-of-papers:focus,#bname:focus,#bank:focus,#branch:focus,#IFSC:focus,#acno:focus,#ext_name:focus,#ext_clg:focus,#phno:focus,#resadd:focus,#profadd:focus,#exam:focus, #teacher:focus,#division:focus, #batch:focus, #scheme:focus, #semester:focus, #particulars:focus, #max-marks:focus, #noofstudents:focus, #rsperstudent:focus, #date:focus,#name:focus, #subject:focus {
     outline: none;
     border: 3px solid #000000;
   }
  
   #submit{
    padding: 15px 40px;
    background: #000;
    border:0;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 15px;
    letter-spacing: 3px;
    position: relative;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: flex;
    margin: 0px auto;
    margin-bottom: 0.05px;
  }
  
  #submit::after,#submit::before{
    content: "";
    position: flex;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
      opacity: 0;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #submit::after{
      width: 30px;
      height: 1px;
      background: white;
      transform: translateX(-3px);
      margin: 0 auto;
  }
  
  #submit::before{
      content: "";
      transform: rotate(-135deg) translateX(50%);
      width: 11px;
      height: 11px;
      background: transparent;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
    margin-top: -1px;
  }
  
  #submit:hover{
    padding: 15px 60px 15px 20px;
  }
  
  #submit:hover::after,
  #submit:hover::before{
    opacity: 1;
    right: 15px;
  }

   p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: beige;
   }

   .input{
    width: 40px;
    text-align: center;
    height:30px;
    font-size: 16px;
   }

   .acc_no{
    width: 30px;
    text-align: center;
    height:30px;
    font-size: 16px;
   }
   button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #923434;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #923434;
   }
   
   button, button span {
    transition: 200ms;
   }
   
   button .text {
    transform: translateX(35px);
    color: white;
    font-weight: medium;
   }
   
   button .icon {
    position: absolute;
    border-left: 1px solid #923434;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #eee;
   }
   
   button .icon img {
    width: 15px;
    fill: #eee;
   }
   
   button:hover {
    background: #923434;
   }
   
   button:hover .text {
    color: transparent;
   }
   
   button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   button:focus {
    outline: none;
   }
   
   button:active .icon img {
    transform: scale(0.8);
   }
   table {
      clear: both;
      margin-top: 1.5rem;
      margin-left:auto;
      margin-right:auto;
      font-size: 100%;
      border-spacing: 3px;
      display: block;
    overflow-x: auto;
    white-space: nowrap;
}
h1.h-scroll-tables {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 0;
  font-family: 'texgyrepagellabold', serif;
  font-size: 1.8rem;
  line-height: 1.15;
  text-align: center;
}
table caption {
  margin-left: 3px;
  margin-right: 3px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 3;
  font-size: 1.2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  }
tr.header {background: rgba(164, 29, 29, 0.834); color: #eee;}
th {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    font-size: 1.2rem;
    }
tr.odd {background: #ffffff;} /*light background*/
tr.even {background: #923434;}
td {
  padding-top: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  line-height: 1.1;
  }
  .h-scroll-tables + table,.h-scroll-tables + :not(h) + table,.h-scroll-tables + :not(h) + :not(h) + table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    }

.h-scroll-tables + table caption,.h-scroll-tables + :not(h) + table caption,.h-scroll-tables + :not(h) + :not(h) + table caption {
    display: inline-block;
    width: 100%;
    }